[user]
	name = thehappyboy
	email = 27151400@qq.com
[init]
	defaultBranch = main
[http]
	proxy = http://127.0.0.1:7897
[https]
	proxy = http://127.0.0.1:7897
[core]
	editor = nvim
	autocrlf = input
	pager = delta
[diff]
	tool = nvim
[difftool "zed"]
	cmd = "zed --wait --diff $LOCAL $REMOTE"
[difftool "nvim"]
	cmd = "nvim -d $LOCAL $REMOTE"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = delta --color-only

[delta]
	features = diff-so-fancy
	navigate = true
	line-numbers = true
	side-by-side = true
	max-line-length = 200
	whitespace-error = true
	syntax-theme = base16-256
